<!DOCTYPE html>
<html>
<head>
  <title>blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to "home", welcome_index_path %></li>
  </ul>
<p class="notice"><%= notice %></p>
<p class="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
